@charset "UTF-8";
/*************************************************
	제작자  :  김혜은
	최종수정날짜  :  2021.11.15
	부가정보  :  반응형, SASS
*************************************************/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
html {
  height: 100%;
  -webkit-text-size-adjust: none;
}

body {
  height: 100%;
  -webkit-text-size-adjust: none;
  font: normal 1em/1.5 'Malgun Gothic', "맑은 고딕", dotum, "돋움", Arial, AppleGothic, Sans-serif;
  color: #222;
}

input, select, button, textarea, h1, h2, h3, h4, h5, h6, table {
  font: normal 1em/1.5 'Malgun Gothic', "맑은 고딕", dotum, "돋움", Arial, AppleGothic, Sans-serif;
  color: #222;
}

html, body, div, form, input, select, button, textarea, legend, fieldset, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, blockquote, address, p, th, td, caption {
  margin: 0;
  padding: 0;
}

ol, ul, li {
  list-style: none;
}

img, fieldset {
  border: 0 none;
}

input, select, textarea {
  vertical-align: middle;
  resize: none;
  position: relative;
  background: #fff;
}

input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
}

textarea {
  -webkit-appearance: none;
}

button {
  border: 0 none;
  background: transparent;
  cursor: pointer;
}

hr {
  display: none;
}

legend, .hide {
  width: 0;
  height: 0;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table caption {
  width: 0;
  height: 0;
  visibility: hidden;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
}

header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {
  display: block;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
  position: absolute;
  left: -9999em;
  top: 0;
  width: 0;
  height: 0;
  text-indent: -9999em;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  overflow: hidden;
}

.ally-jump__link {
  position: absolute;
  left: 0;
  top: -22px;
  display: block;
  height: 22px;
  line-height: 22px;
  background: #fff;
  color: #000;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  position: relative;
  z-index: 3;
}

.ally-jump__link:focus {
  top: 0;
}

/* 헤더 */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.header__inner {
  max-width: 900px;
  height: 87px;
  margin: 0 auto;
  overflow: hidden;
}

.logo {
  -webkit-animation: spinY .6s 1 ease-in-out;
  animation: spinY .6s 1 ease-in-out;
}

.logo__header {
  float: left;
  margin: 16px 0 0;
}

.logo__link {
  display: inline-block;
  width: 130px;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
}

.logo__logo-name {
  display: inline-block;
  height: 34px;
  margin: 0 0 3px;
  line-height: 34px;
  padding: 0 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  border: 1px solid #fff;
  color: #fff;
  -webkit-transition: border-color 1s;
  transition: border-color 1s;
}

.logo__logo-name:hover {
  border-color: #fbfd00;
}

.logo__logo-desc {
  display: block;
  padding: 2px 0 0;
  height: 15px;
  font-size: 10px;
  letter-spacing: 0.85em;
  color: #fff;
}

.nav {
  float: right;
  margin: 37px 0 0;
}

.nav__header {
  margin: 45px 0 0;
}

.nav__item {
  float: left;
  height: 100%;
  margin: 0 0 0 35px;
}

.nav__item--active {
  position: relative;
}

.nav__item--active:after {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  content: '';
  background: #fbfd00;
  -webkit-transition: width .2s;
  transition: width .2s;
}

.nav__item--active:after:hover {
  width: 100%;
}

.nav__link {
  display: inline-block;
  height: 100%;
  color: #fff;
  text-decoration: none;
  text-align: right;
  font-family: 'Raleway', sans-serif;
}

.nav__link:hover {
  color: #fbfd00;
}

@-webkit-keyframes spinY {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(720deg);
    transform: rotateY(720deg);
  }
}

@keyframes spinY {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(720deg);
    transform: rotateY(720deg);
  }
}

@-webkit-keyframes circlemove {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    -webkit-transform: translate(50%, 50%);
            transform: translate(50%, 50%);
  }
}

@keyframes circlemove {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    -webkit-transform: translate(50%, 50%);
            transform: translate(50%, 50%);
  }
}

/* 공통 */
.section__header {
  position: relative;
  max-width: 900px;
  margin: 0 auto 30px;
  padding-bottom: 10px;
  font-size: 35px;
  text-align: center;
  color: #2c2c2c;
  border-bottom: 1px solid #000;
  font-family: 'Raleway', sans-serif;
}

.section__header:after {
  position: absolute;
  left: 50%;
  bottom: 0;
  content: '';
  display: inline-block;
  width: 200px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  padding: 0 0 10px;
  border-bottom: 2px solid #000;
  font-family: 'Raleway', sans-serif;
}

.section__header--default {
  color: #fff;
  border-bottom-color: #fff;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.section__header--default:after {
  border-bottom-color: #fff;
}

.section__title {
  margin: 0 0 15px;
  padding: 10px 0px;
  font-size: 24px;
  color: #2c2c2c;
  font-family: 'Raleway', sans-serif;
}

.section__title--theme {
  position: relative;
  display: inline-block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 20px;
  margin: 30px 0 20px;
  border-radius: 1px;
  background: #fbfd00;
  font-size: 18px;
  color: #333;
}

.section__title--theme:after {
  position: absolute;
  left: 16px;
  bottom: -7px;
  content: '';
  display: block;
  width: 0px;
  height: 0px;
  border-top: 10px solid #fbfd00;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.section__content {
  max-width: 900px;
  margin: 0 auto;
}

/* 콘텐츠 > intro */
.intro {
  padding: 6% 15px 200px;
  background: url(../images/bg_park.jpg) no-repeat 0 0;
  background-attachment: fixed;
  background-size: cover;
}

.intro__head {
  margin: 10% 0 10px;
  border-bottom: none;
  font-size: 60px;
  color: #fbfd00;
  text-shadow: 2px 2px 11px #000;
}

.intro__subhead {
  margin: 0 0 10px;
  font-size: 24px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

.intro__desc {
  margin: 0 0 30px;
  font-size: 14px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

.intro__btn {
  display: inline-block;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #fbfd00;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  font-size: 15px;
  color: #fff;
  font-weight: bold;
  -webkit-transition: background-color .4s;
  transition: background-color .4s;
}

.intro__btn:hover {
  background: #fbfd00;
  text-decoration: none;
  color: #333;
}

/* 콘텐츠 > aboutme */
.about {
  padding: 6% 15px;
  background: #fff;
}

.about__list-myinfo {
  padding: 20px 0;
  margin: 0 0 50px;
  -webkit-box-shadow: 1px 1px 3px #333;
          box-shadow: 1px 1px 3px #333;
  background: #fff;
  font-size: 14px;
  border-radius: 13px 0 13px 0;
  overflow: hidden;
}

.about__item {
  position: relative;
  line-height: 30px;
  border-bottom: 1px dashed #ccc;
}

.about__tit {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 100px;
  height: 100%;
  padding-left: 20px;
  font-weight: bold;
  z-index: 1;
  background: #fff;
}

.about__txt {
  display: inline-block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px 0 120px;
  vertical-align: top;
}

/* 콘텐츠 > aboutme */
.work__list-history {
  position: relative;
}

.work__list-history:before {
  position: absolute;
  left: 50%;
  top: 0;
  display: block;
  height: 100%;
  width: 1px;
  content: '';
  background: #999;
}

.work__item {
  position: relative;
  min-height: 100px;
  margin: 0 0 15px;
  opacity: 0;
  /* overflow: hidden; */
}

.work__item:nth-child(1):before {
  position: absolute;
  right: 37%;
  top: 95px;
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  content: '';
  background: #FF6;
  opacity: .5;
  animation: circlemove 2.5s infinite ease-in-out alternate-reverse;
  -webkit-animation: circlemove 2.5s infinite ease-in-out alternate-reverse;
}

.work__item:nth-child(2n):before {
  position: absolute;
  left: 37%;
  top: 5px;
  display: block;
  height: 6px;
  width: 6px;
  border-radius: 3px;
  content: '';
  background: #000;
  opacity: .6;
  animation: circlemove 2.5s infinite linear alternate-reverse;
  -webkit-animation: circlemove 2.5s infinite linear alternate-reverse;
}

.work__item:nth-child(2n):after {
  position: absolute;
  left: 20%;
  bottom: 10px;
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  content: '';
  background: #FF6;
  opacity: .5;
  animation: circlemove 5s infinite ease-in-out alternate-reverse;
  -webkit-animation: circlemove 5s infinite ease-in-out alternate-reverse;
}

.work__item:nth-child(3n+2):before {
  position: absolute;
  left: 37%;
  top: 30px;
  display: block;
  height: 6px;
  width: 6px;
  border-radius: 3px;
  content: '';
  background: #000;
  opacity: .2;
  animation: circlemove 3s infinite ease-in-out alternate-reverse;
  -webkit-animation: circlemove 3s infinite ease-in-out alternate-reverse;
}

.work__item:nth-child(3n+2):after {
  position: absolute;
  left: 40%;
  top: 0;
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  content: '';
  background: #000;
  opacity: .2;
  animation: circlemove 2s infinite ease-in-out alternate-reverse;
  -webkit-animation: circlemove 2s infinite ease-in-out alternate-reverse;
}

.work__item:nth-child(3n):before {
  position: absolute;
  right: 37%;
  top: 90px;
  display: block;
  height: 6px;
  width: 6px;
  border-radius: 3px;
  content: '';
  background: #000;
  opacity: .4;
  animation: circlemove 6s infinite ease-in-out alternate-reverse;
  -webkit-animation: circlemove 6s infinite ease-in-out alternate-reverse;
}

.work__item:nth-child(3n):after {
  position: absolute;
  right: 30%;
  bottom: 8px;
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  content: '';
  background: #000;
  opacity: .2;
  animation: circlemove 4s infinite ease-in-out alternate-reverse;
  -webkit-animation: circlemove 4s infinite ease-in-out alternate-reverse;
}

.work__item:nth-child(2n+1) .work__txt {
  float: left;
  padding: 15px 70px 10px 30px;
  text-align: left;
  border-radius: 55px 0 0 55px;
}

.work__item--open {
  opacity: 1;
}

.work__item--open .work__tit {
  width: 100px;
  height: 100px;
}

.work__tit {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: -50px 0 0 -50px;
  padding: 20px 15px 0;
  border-radius: 50px;
  background: #000;
  color: #fff;
  font-size: 18px;
  text-align: center;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.work__txt {
  width: 50%;
  min-height: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;
  background: #F5F4E9;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
  font-size: 14px;
  float: right;
  padding: 15px 30px 10px 70px;
  text-align: left;
  border-radius: 0 50px 50px 0;
}

/* 콘텐츠 > portfolio */
.port {
  padding: 6% 15px;
  background: url(../images/bg_office.jpg) no-repeat 0 0;
  background-attachment: fixed;
  background-size: cover;
  font-size: 0;
}

.swiper-container {
  padding-bottom: 40px;
}

.swiper-slide__link {
  display: block;
  padding: 15px 10px;
  margin: 7px;
  border: 1px solid #ccc;
  text-decoration: none;
  background: #fff;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
  font-size: 14px;
  color: #111;
  text-align: left;
}

.swiper-slide__link:hover {
  background: #eaeaea;
  text-decoration: underline;
}

.swiper-slide__img-wrap {
  display: block;
  margin: 0 0 5px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.swiper-slide__img {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 10px solid #fff;
  -webkit-box-shadow: 0px 0px 8px #CCC;
          box-shadow: 0px 0px 8px #CCC;
}

.swiper-slide__tit {
  font-weight: bold;
  font-size: 14px;
  color: #333;
}

.swiper-slide__cover {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: url("../images/bg_cover.png") repeat 0 0;
}

.swiper-slide__cover__txt {
  display: block;
  width: 90%;
  height: 100px;
  margin: 130px auto;
  color: #fff;
  font-size: 1.2em;
}

.swiper-pagination-bullet {
  margin: 4px !important;
  opacity: .5;
}

.swiper-pagination-bullet-active {
  width: 17px;
  border-radius: 4px;
  background: #fbfd00;
  opacity: 1;
}

.swiper__btn {
  position: absolute;
  top: 50%;
  display: inline-block;
  margin-top: -7px;
  padding: 13px;
  border: solid #fbfd00;
  border-width: 0 3px 3px 0;
  z-index: 1;
}

.swiper__btn--next {
  right: 6px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.swiper__btn--prev {
  left: 6px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

/* 콘텐츠 > contact */
.section__contact {
  font-size: 0;
  overflow: hidden;
}

.contact {
  padding: 6% 15px;
  background: #161618;
  text-align: center;
}

.contact__box {
  display: inline-block;
  width: 100%;
  min-width: 200px;
  max-width: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 1%;
  text-align: left;
  font-size: 16px;
  vertical-align: top;
}

.contact__tit {
  margin: 0 0 10px;
  font-size: 18px;
  color: #fbfd00;
}

.contact__link {
  color: #fff;
}

.contact__link:hover {
  color: #fbfd00;
  text-decoration: underline;
}

.contact__txt {
  font-size: 14px;
  color: #ccc;
}

.frm__lst {
  position: relative;
  color: #000;
}

.frm__lst:after {
  content: '';
  display: block;
  clear: both;
}

.frm__term {
  float: left;
  width: 100%;
  padding: 10px 0 5px;
  vertical-align: top;
  text-align: left;
  color: #fff;
}

.frm__definition {
  float: left;
  width: 100%;
  padding: 5px 0 15px;
  vertical-align: top;
  text-align: left;
}

.frm__btnarea {
  padding: 15px 0 0;
  text-align: right;
}

.frm__button {
  display: inline-block;
  height: 43px;
  padding: 0 20px;
  border: 0 none;
  background: #f5f5f5;
  border-radius: 2px;
}

.input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 43px;
  line-height: 41px;
  padding: 0 0 0 10px;
  background: #424242;
  border: none;
  border-radius: 2px;
  color: #fff;
}

.select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 43px;
  line-height: 41px;
  padding: 0 0 0 10px;
  background: #424242;
  border: none;
  border-radius: 2px;
  color: #fff;
}

.textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 43px;
  line-height: 41px;
  padding: 0 0 0 10px;
  background: #424242;
  border: none;
  border-radius: 2px;
  color: #fff;
  height: 100px;
}

.quick-top {
  position: fixed;
  bottom: 100px;
  left: 50%;
  margin-left: 546px;
  color: #333;
  font-weight: bold;
}

.quick-top__link {
  width: 40px;
  height: 30px;
  line-height: 30px;
  background: #fff;
  display: block;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 1px 0px 8px #666;
          box-shadow: 1px 0px 8px #666;
  text-align: center;
  text-decoration: none;
  letter-spacing: -0.05px;
  font-size: 13px;
}

.quick-top__link:hover {
  color: #fff;
  background: #232323;
}

/* 푸터 */
.footer {
  height: 65px;
  font-size: 13px;
  color: #999;
  text-align: center;
  background: #000;
}

.footer__inner {
  max-width: 900px;
  padding: 10px 0 0;
  margin: 0 auto;
  overflow: hidden;
}

.footer__address {
  margin: 0 0 8px;
}

.footer__copy {
  margin: 0 0 8px;
}

@media screen and (max-width: 767px) {
  .header {
    text-align: center;
  }
  .logo {
    float: none;
    display: inline-block;
  }
  .logo__header {
    margin: 8px 0 0;
  }
  .logo__logo-name {
    border-color: #fbfd00;
  }
  .logo__logo-desc {
    display: none;
  }
  .nav {
    float: none;
    height: 23px;
    margin: 3px auto 0;
    text-align: center;
  }
  .nav__item {
    float: none;
    display: inline-block;
    padding: 0 5px;
    margin: 0;
    letter-spacing: -0.1em;
  }
  .nav__link:after {
    height: 2px;
  }
  .intro {
    padding: 30% 15px 200px;
  }
  .intro__head {
    font-size: 40px;
    letter-spacing: -0.07em;
  }
  .work__list-history:before {
    left: 50px;
  }
  .work__tit {
    left: 50px;
  }
  .work__txt {
    width: 100%;
    min-height: 100px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #F5F4E9;
    font-size: 14px;
    float: left;
    padding: 15px 20px 10px 125px;
    text-align: left;
    border-radius: 50px;
  }
  .work__item:nth-child(2n+1) .work__txt {
    float: left;
    padding: 15px 20px 10px 125px;
    text-align: left;
    border-radius: 50px;
  }
}
/*# sourceMappingURL=style.css.map */