@charset "UTF-8";

/*************************************************
	제작자  :  김혜은
	최종수정날짜  :  2021.11.15
	부가정보  :  반응형, SASS
*************************************************/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

$primary-color : #fbfd00;

html {
  height: 100%;
  -webkit-text-size-adjust: none;
}

body {
  height: 100%;
  -webkit-text-size-adjust: none;
  font: normal 1em/1.5 'Malgun Gothic', "맑은 고딕", dotum, "돋움", Arial, AppleGothic, Sans-serif;
  color: #222;
}

input, select, button, textarea, h1, h2, h3, h4, h5, h6, table {
  font: normal 1em/1.5 'Malgun Gothic', "맑은 고딕", dotum, "돋움", Arial, AppleGothic, Sans-serif;
  color: #222;
}

html, body, div, form, input, select, button, textarea, legend, fieldset, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, blockquote, address, p, th, td, caption {
  margin: 0;
  padding: 0;
}

ol, ul, li {
  list-style: none;
}

img, fieldset {
  border: 0 none;
}

input, select, textarea {
  vertical-align: middle;
  resize: none;
  position: relative;
  background: #fff;
}

input {
  &[type=text], &[type=password], &[type=submit], &[type=search] {
    -webkit-appearance: none;
  }
}

textarea {
  -webkit-appearance: none;
}

button {
  border: 0 none;
  background: transparent;
  cursor: pointer;
}

hr {
  display: none;
}

legend, .hide {
  width: 0;
  height: 0;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

table {
  border-collapse: collapse;
  border-spacing: 0;

  caption {
    width: 0;
    height: 0;
    visibility: hidden;
    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
  }
}

header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {
  display: block;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  // &:link, &:visited {
  //   text-decoration: none;
  //   color: inherit;
  // }

  // &:active, &:hover, &:focus {
  //   text-decoration: underline;
  // }
}

.hidden {
  display: none;
  position: absolute;
  left: -9999em;
  top: 0;
  width: 0;
  height: 0;
  text-indent: -9999em;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  overflow: hidden;
}

.ally-jump {
  &__link {
    position: absolute;
    left: 0;
    top: -22px;
    display: block;
    height: 22px;
    line-height: 22px;
    background: #fff;
    color: #000;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    position: relative;
    z-index: 3;
  
    &:focus {
      top: 0;
    }
  }
}

/* 헤더 */

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
  &__inner {
    max-width: 900px;
    height: 87px;
    margin: 0 auto;
    overflow: hidden;
  }
}

.logo {
  -webkit-animation: spinY .6s 1 ease-in-out;
  animation: spinY .6s 1 ease-in-out;

  &__header {
    float: left;
    margin: 16px 0 0;
  }

  &__link {
    display: inline-block;
    width: 130px;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
  }

  &__logo-name {
    display: inline-block;
    height: 34px;
    margin:0 0 3px;
    line-height: 34px;
    padding: 0 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    border: 1px solid #fff;
    color: #fff;
    transition: border-color 1s;
    &:hover {
      border-color: $primary-color;
    }
  }
  
  &__logo-desc {
    display: block;
    padding: 2px 0 0;
    height: 15px;
    font-size: 10px;
    letter-spacing: 0.85em;
    color: #fff;
  }
}

.nav {
  float: right;
  margin: 37px 0 0;
  &__header {     
    margin: 45px 0 0;
  }
  &__item {
    float: left;
    height: 100%;
    margin: 0 0 0 35px;
  
    &--active {
      position: relative;
      &:after {
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 1px;
        content: '';
        background: $primary-color;
        transition: width .2s;
        &:hover {
          width: 100%;
        }
      }
    }

  }  
  
  &__link {
    display: inline-block;
    height: 100%;
    color: #fff;
    text-decoration: none;
    text-align: right;
    font-family: 'Raleway', sans-serif;
    &:hover{
      color: $primary-color;
    }
  }
}

@keyframes spinY {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  100% {
    -webkit-transform: rotateY(720deg);
    transform: rotateY(720deg);
  }
}

@keyframes circlemove {
  0% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(50%, 50%);
  }
}

/* 공통 */
.section {
  &__header {
    position: relative;
    max-width: 900px;
    margin: 0 auto 30px;
    padding-bottom:10px;
    font-size: 35px;
    text-align: center;
    color: #2c2c2c;
    border-bottom: 1px solid #000;
    font-family: 'Raleway', sans-serif; 
    &:after {
      position: absolute;
      left:50%;
      bottom:0;
      content: '';
      display: inline-block;
      width: 200px;
      transform: translate(-50%, 0);
      padding: 0 0 10px;
      border-bottom: 2px solid #000;
      font-family: 'Raleway', sans-serif;
    }
    &--default {  
      color: #fff; 
      border-bottom-color:#fff;
      text-shadow: 0 0 3px rgba(0,0,0,.3);
      &:after {
        border-bottom-color:#fff;
      }

    }
    
  }

  &__title {
    margin: 0 0 15px;
    padding: 10px 0px;
    font-size: 24px;
    color: #2c2c2c;
    font-family: 'Raleway', sans-serif;
    &--theme {      
      position: relative;
      display: inline-block;
      width: 100%;
      box-sizing: border-box;
      padding: 10px 20px;
      margin: 30px 0 20px;
      border-radius: 1px;
      background: $primary-color;
      font-size: 18px;
      color: #333;
      &:after {        
        position: absolute;
        left: 16px;
        bottom: -7px;
        content: '';
        display: block;
        width: 0px;
        height: 0px;
        border-top: 10px solid $primary-color;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
      }

    }

  }
 &__content {
    max-width: 900px;
    margin: 0 auto;
  }
}

.btn {
  &__intro {
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid $primary-color;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    transition: background-color .4s;
  
    &:hover {
      background: $primary-color;
      text-decoration: none;
      color: #333;
    }
  }
  
  &__send {
    display: inline-block;
    height: 43px;
    padding: 0 20px;
    border:0 none;
    background: #f5f5f5;
    border-radius: 2px;  
    &:hover {
      background: $primary-color;
      color: #333;
    }
  }

}

/* 콘텐츠 > intro */
.intro {
  padding: 6% 15px 200px;
  background: url(../images/bg_park.jpg) no-repeat 0 0;
  background-attachment: fixed;
  background-size: cover;

  &__head {
    margin: 10% 0 10px;
    border-bottom: none;
    font-size: 60px;
    color: $primary-color;
    text-shadow: 2px 2px 11px #000;
  }

  &__subhead {
    margin: 0 0 10px;
    font-size: 24px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
  }

  &__desc {
    margin: 0 0 30px;
    font-size: 14px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
  }

}

/* 콘텐츠 > aboutme */
.about {
  padding: 6% 15px;
  background: #fff;

  &__list-myinfo {
    padding: 20px 0;
    margin: 0 0 50px;
    box-shadow: 1px 1px 3px #333;
    background: #fff;
    font-size: 14px;
    border-radius: 13px 0 13px 0;
    overflow: hidden;
  }

  &__item {
    position: relative;
    line-height: 30px;
    border-bottom: 1px dashed #ccc;
  }

  &__tit {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 100px;
    height: 100%;
    padding-left: 20px;
    font-weight: bold;
    z-index: 1;
    background: #fff;
  }

  &__txt {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px 0 120px;
    vertical-align: top;
  }
}

/* 콘텐츠 > aboutme */
.work {
  &__list-history {
    position: relative;

    &:before {
      position: absolute;
      left: 50%;
      top: 0;
      display: block;
      height: 100%;
      width: 1px;
      content: '';
      background: #999;
    }
  }

  &__item {
    position: relative;
    min-height: 100px;
    margin: 0 0 15px;
    opacity: 0;
    /* overflow: hidden; */

    &:nth-child(1):before {
      position: absolute;
      right: 37%;
      top: 95px;
      display: block;
      height: 30px;
      width: 30px;
      border-radius: 15px;
      content: '';
      background: #FF6;
      opacity: .5;
      animation: circlemove 2.5s infinite ease-in-out alternate-reverse;
      -webkit-animation: circlemove 2.5s infinite ease-in-out alternate-reverse;
    }

    &:nth-child(2n) {
      &:before {
        position: absolute;
        left: 37%;
        top: 5px;
        display: block;
        height: 6px;
        width: 6px;
        border-radius: 3px;
        content: '';
        background: #000;
        opacity: .6;
        animation: circlemove 2.5s infinite linear alternate-reverse;
        -webkit-animation: circlemove 2.5s infinite linear alternate-reverse;
      }

      &:after {
        position: absolute;
        left: 20%;
        bottom: 10px;
        display: block;
        height: 30px;
        width: 30px;
        border-radius: 30px;
        content: '';
        background: #FF6;
        opacity: .5;
        animation: circlemove 5s infinite ease-in-out alternate-reverse;
        -webkit-animation: circlemove 5s infinite ease-in-out alternate-reverse;
      }
    }

    &:nth-child(3n+2) {
      &:before {
        position: absolute;
        left: 37%;
        top: 30px;
        display: block;
        height: 6px;
        width: 6px;
        border-radius: 3px;
        content: '';
        background: #000;
        opacity: .2;
        animation: circlemove 3s infinite ease-in-out alternate-reverse;
        -webkit-animation: circlemove 3s infinite ease-in-out alternate-reverse;
      }

      &:after {
        position: absolute;
        left: 40%;
        top: 0;
        display: block;
        height: 10px;
        width: 10px;
        border-radius: 5px;
        content: '';
        background: #000;
        opacity: .2;
        animation: circlemove 2s infinite ease-in-out alternate-reverse;
        -webkit-animation: circlemove 2s infinite ease-in-out alternate-reverse;
      }
    }

    &:nth-child(3n) {
      &:before {
        position: absolute;
        right: 37%;
        top: 90px;
        display: block;
        height: 6px;
        width: 6px;
        border-radius: 3px;
        content: '';
        background: #000;
        opacity: .4;
        animation: circlemove 6s infinite ease-in-out alternate-reverse;
        -webkit-animation: circlemove 6s infinite ease-in-out alternate-reverse;
      }

      &:after {
        position: absolute;
        right: 30%;
        bottom: 8px;
        display: block;
        height: 20px;
        width: 20px;
        border-radius: 10px;
        content: '';
        background: #000;
        opacity: .2;
        animation: circlemove 4s infinite ease-in-out alternate-reverse;
        -webkit-animation: circlemove 4s infinite ease-in-out alternate-reverse;
      }
    }
    &:nth-child(2n+1) .work__txt {
      float: left;
      padding: 15px 70px 10px 30px;
      text-align: left;
      border-radius: 55px 0 0 55px;
    }

    &--open {
      opacity: 1;

      .work__tit {
        width: 100px;
        height: 100px;
      }
    }
  }

  &__tit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    margin: -50px 0 0 -50px;
    padding: 20px 15px 0;
    border-radius: 50px;
    background: #000;
    color: #fff;
    font-size: 18px;
    text-align: center;
    transition: all .5s;
  }

  &__txt {
    width: 50%;
    min-height: 100px;
    box-sizing: border-box;
    vertical-align: middle;
    background: #F5F4E9;
    transition: background-color .5s;
    font-size: 14px;
    float: right;
    padding: 15px 30px 10px 70px;
    text-align: left;
    border-radius: 0 50px 50px 0;
  }
}

/* 콘텐츠 > portfolio */
.port {
  padding: 6% 15px;
  background: url(../images/bg_office.jpg) no-repeat 0 0;
  background-attachment: fixed;
  background-size: cover;
  font-size: 0;

}
.swiper {
  &-container {
    padding-bottom: 40px;
  }
  
  &-slide {
    &__link {
      display: block;
      padding: 15px 10px;
      margin: 7px;
      border: 1px solid #ccc;
      text-decoration: none;
      background: #fff;
      transition: background-color .5s;
      font-size: 14px;
      color:#111;
      text-align: left;
  
      &:hover {
        background: #eaeaea;
        text-decoration: underline;
      }
    }
  
    &__img-wrap {
      display: block;
      margin: 0 0 5px;
      width: 100%;
      height: 100%;
      text-align: center;
    }
  
    &__img {
      width: 100%;
      box-sizing: border-box;
      border: 10px solid #fff;
      box-shadow: 0px 0px 8px #CCC;
    }
  
    &__tit {
      font-weight: bold;
      font-size: 14px;
      color: #333;
    }
  
    &__cover {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      width: 100%;
      height: 100%;
      background: url("../images/bg_cover.png") repeat 0 0;
  
      &__txt {
        display: block;
        width: 90%;
        height: 100px;
        margin: 130px auto;
        color: #fff;
        font-size: 1.2em;
      }
    }
  }

  &-pagination {
    &-bullet {
      margin: 4px !important;
      opacity: .5;
    }
  
    &-bullet-active {
      width: 17px;
      border-radius: 4px;
      background: $primary-color;
      opacity: 1;
    }

  }
  
  &__btn {
    position: absolute;
    top: 50%;
    display: inline-block;
    margin-top: -7px;
    padding: 13px;
    border: solid $primary-color;
    border-width: 0 3px 3px 0;
    z-index: 1;

    &--next {
      right: 6px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
  
    &--prev {
      left: 6px;
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
    }
  }
}


/* 콘텐츠 > contact */  
.section__contact {
  font-size: 0;
  overflow: hidden;
}

.contact {
  padding: 6% 15px;
  background: #161618;
  text-align: center;
    
  &__box {
    display: inline-block;
    width: 100%;
    min-width: 200px;
    max-width: 300px;
    box-sizing: border-box;
    padding: 0 1%;
    text-align: left;
    font-size: 16px;
    vertical-align: top;
  }
  
  
  &__tit {
    margin: 0 0 10px;
    font-size: 18px;
    color: $primary-color;  
  }

  &__link {
    color:#fff;

    &:hover {
      color: $primary-color;
      text-decoration: underline;
    }
  }
  
  &__txt {
    font-size: 14px;
    color: #ccc;
  }
 
}

.frm {
  &__lst {
    position: relative;
    color: #000;

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  &__term {
    float: left;
    width: 100%;
    padding: 10px 0 5px;
    vertical-align: top;
    text-align: left;
    color: #fff;
  }

  &__definition {
    float: left;
    width: 100%;
    padding: 5px 0 15px;
    vertical-align: top;
    text-align: left;
  }

  &__btnarea {
    padding: 15px 0 0;
    text-align: right;
  }

}
  
.input {    
  box-sizing: border-box;
  width: 100%;
  height: 43px;
  line-height: 41px;
  padding: 0 0 0 10px;
  background: #424242;
  border: none;
  border-radius: 2px;
  color: #fff;
}

.select {
  box-sizing: border-box;
  width: 100%;
  height: 43px;
  line-height: 41px;
  padding: 0 0 0 10px;
  background: #424242;
  border: none;
  border-radius: 2px;
  color: #fff;
}

.textarea {
  box-sizing: border-box;
  width: 100%;
  height: 43px;
  line-height: 41px;
  padding: 0 0 0 10px;
  background: #424242;
  border: none;
  border-radius: 2px;
  color: #fff;
  height: 100px;
}

.quick-top {
  position: fixed;
  bottom: 100px;
  left: 50%;
  margin-left: 546px;
  color: #333;
  font-weight: bold;

  &__link{
    display: block;
    width: 40px;
    height: 30px;
    line-height: 30px;
    background: #fff;
    color:#232323;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 0px 8px #666;
    text-align: center;
    text-decoration: none;
    letter-spacing: -0.05px;
    font-size: 13px;

    &:hover {
      color: #fff;
      background: #232323;
    }
  }

}

/* 푸터 */

.footer {
  height: 65px;
  font-size: 13px;
  color: #999;
  text-align: center;
  background: #000;

  &__inner {
    max-width: 900px;
    padding: 10px 0 0;
    margin: 0 auto;
    overflow: hidden;
  } 
  &__address {
    margin: 0 0 8px;
  }
  &__copy {
    margin: 0 0 8px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    text-align: center;
  }

  .logo {
    float: none;
    display: inline-block;

    &__header {
      margin:8px 0 0;
    }

    &__logo-name {
      border-color: $primary-color;
    }

    &__logo-desc {
      display: none;
    }
  }

  .nav {
    float: none;
    height: 23px;
    margin: 3px auto 0;
    text-align: center;

    &__item {
      float: none;
      display: inline-block;
      padding: 0 5px;
      margin: 0;
      letter-spacing: -0.1em;
    }

    &__link:after {
      height: 2px;
    }
  }

  .intro {
    padding: 30% 15px 200px;

    &__head {
      font-size: 40px;
      letter-spacing: -0.07em;
    }
  }

  .work {

    &__list-history {
      &:before {
        left: 50px;
      }
    }
    
    &__tit {
      left: 50px;
    }

    &__txt {
      width: 100%;
      min-height: 100px;
      box-sizing: border-box;
      background: #F5F4E9;
      font-size: 14px;
      float: left;
      padding: 15px 20px 10px 125px;
      text-align: left;
      border-radius: 50px;
    }
    &__item:nth-child(2n+1) .work__txt {
      float: left;
      padding: 15px 20px 10px 125px;
      text-align: left;
      border-radius: 50px;
    }

  }

}